*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;

}
a{
    outline: none;
    text-decoration: none;
}

/*css reset 初始化*/
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    /*所有的元素采用内减模式*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html {
    /*font-size: 100px;*/
    width: 100%;
    height: 100%;
}

body {
    background: rgba(248, 248, 248, 1);
    font-size: 16px;
    font-family: 'Microsoft Yahei', 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    /*min-width: 375px;*/
}
ul,
ol {
    list-style: none;
}
a,
a:hover {
    text-decoration: none;
    color: #333;
}
input {
    border: none;
    /*去除边框*/
    outline: none;
    /*去除轮廓线*/
    -webkit-appearance: none;
    /*去除 表单在移动端 阴影 立体 效果 */
}
button{
    outline: none;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0;
}
/* 蓝色标题 */
.blue-title {
    color: #21a0fd;
    font-size: 0.42rem;
    text-align: center;
    font-family: PingFang-SC-Bold;
    font-weight: blod;
}
/* 字体加粗 */
.font-blod {
    font-weight: 600;
    color: rgba(102, 102, 102, 1);
}
/* 字体微软雅黑 */
.font-family {
    font-family: MicrosoftYaHei;
}
/* 隐藏 */
.hide {
    display: none;
}

